@font-face {
  font-family: "Hanken"; /* This is the font name you will use later */
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}
body {
  font-family: Hanken;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  background-color: white;
  width: 500px;
  display: flex;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.results, .summary {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.results {
  text-align: center;
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 20px;
  align-items: center;
}
.results .results-title {
  color: rgb(178, 182, 216);
  padding-bottom: 30px;
  font-weight: bold;
}
.results .results-score {
  background: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  height: 150px;
  width: 150px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.results .results-score p {
  margin: 0;
}
.results .results-score .results-score-number {
  color: white;
  font-size: 45px;
  font-weight: bold;
}
.results .results-score .results-score-total {
  color: rgb(178, 182, 216);
  font-size: smaller;
}
.results .results-description .results-description-title {
  font-size: larger;
  font-weight: bold;
  color: rgb(178, 182, 216);
}
.results .results-description .results-description-desc {
  font-size: small;
  color: rgb(178, 182, 216);
}

.summary .summary-title {
  color: hsl(224, 30%, 27%);
  margin-bottom: 30px;
  font-weight: bold;
}
.summary .summary-content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.summary .summary-content div div {
  padding: 0;
}
.summary .summary-content div div svg {
  padding-right: 5px;
}
.summary .summary-content div div img {
  padding-right: 5px;
}
.summary .summary-content div p {
  margin: 0;
  font-size: small;
  font-weight: bold;
}
.summary .summary-content .summary-content-reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.summary .summary-content .summary-content-reaction .summary-content-text {
  color: hsl(0, 100%, 67%);
}
.summary .summary-content .summary-content-reaction p {
  color: grey;
}
.summary .summary-content .summary-content-reaction p span {
  color: black;
}
.summary .summary-content .summary-content-memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.summary .summary-content .summary-content-memory .summary-content-text {
  color: hsl(39, 100%, 56%);
}
.summary .summary-content .summary-content-memory p {
  color: grey;
}
.summary .summary-content .summary-content-memory p span {
  color: black;
}
.summary .summary-content .summary-content-verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.summary .summary-content .summary-content-verbal .summary-content-text {
  color: hsl(166, 100%, 37%);
}
.summary .summary-content .summary-content-verbal p {
  color: grey;
}
.summary .summary-content .summary-content-verbal p span {
  color: black;
}
.summary .summary-content .summary-content-visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}
.summary .summary-content .summary-content-visual .summary-content-text {
  color: hsl(234, 85%, 45%);
}
.summary .summary-content .summary-content-visual p {
  color: grey;
}
.summary .summary-content .summary-content-visual p span {
  color: black;
}
.summary .summary-button {
  background-color: hsl(224, 30%, 27%);
  height: 40px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: small;
  font-weight: bold;
  color: white;
}
.summary .summary-button:hover {
  background: linear-gradient(to bottom, hsl(256, 72%, 46%), hsl(241, 72%, 46%));
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */